<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34610947007-mklgfqbv22fukun4rmrip7kpb376apbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34610947007-mklgfqbv22fukun4rmrip7kpb376apbu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>34610947007-i38sg59a9mmamdjsdm35b1p0ee9l40i5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPYn3WCoYE21cnR2seooGDQFMaLqhs9hY</string>
	<key>GCM_SENDER_ID</key>
	<string>34610947007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.lsfmobile</string>
	<key>PROJECT_ID</key>
	<string>lsf-development</string>
	<key>STORAGE_BUCKET</key>
	<string>lsf-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34610947007:ios:af15d15a44bd8114</string>
	<key>DATABASE_URL</key>
	<string>https://lsf-development.firebaseio.com</string>
</dict>
</plist>